/*style in body*/
.body{
    font-family: font-family: 'Open Sans', sans-serif;
}

header{
    margin: 0;
    padding: 0;
}

.container{
width: 1320px;
height: 600px;
position: relative;
margin: 20px auto;
border-radius: 16px;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)
}
.container img{
    width: 1520px;
    height: 600px;
}
.text{
color: white;
flex-shrink: 0;
font-size: 32px;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
background: linear-gradient(180deg, #070211 10%, rgba(14, 4, 32, 0.00) 100%);
padding:100px 500px;
}
section{
    color: #F00;
   
text-align: center;
font-size: 45px;
font-weight: 500;
margin: 120px;

}
.text_1{
    color: #F00;

text-align: center;
font-size: 40px;
font-weight: 500;
line-height: normal;
margin: 3px;
}
.text_2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.photo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
height: 300px;
width: 30%;
align-items: center;
 
}
.image{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
     margin-top: 550px;
     margin: 350px auto;
     align-items: center;
}
.welcome-party{
    
background: url(".welcome-party");
    
}
.year{
   
}